<section>
    <form class="formulario-seguridad" th:action="@{/usuario/seguridad/preguntaSeguridad}" method="post">
        <div class="form__group field">
            <input type="input" class="form__field" name="pregunta"
                placeholder="Ingrese una pregunta de seguridad nueva" required="">
            <label for="pregunta" class="form__label">Ingrese la nueva pregunta de seguridad</label>
        </div>
        <div class="form__group field">
            <input type="input" class="form__field" name="respuesta" placeholder="Ingrese la respuesta" required="">
            <label for="respuesta" class="form__label">Ingrese la respuesta</label>
        </div>
        <div class="form__group ">
            <button type="submit" class="btn-seguridad">
                Subir
            </button>
        </div>
    </form>
</section>