<section class="hero">
  <div class="flex-center">
    <img class="logo" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="Imagen usuario"
      onerror="this.src='/img/sinfoto.jpg';" />
  </div>

  <h3 th:if="${session.usuariosession != null}"
    th:text="${session.usuariosession.nombre} + ' ' + ${session.usuariosession.apellido}"></h3>

  <div class="dropdown-center flex-center">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Perfil
    </a>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" th:href="@{/usuario/actualizar}">Editar</a>
      </li>
      <li>
        <a class="dropdown-item" href="/logout">Cerrar sesion</a>
      </li>
    </ul>
  </div>
</section>