<section class="max-height vistas">
    <div class="contenedor">
        <form action="/admin/buscar" class="buscador" method="post" sec:authorize="hasRole('ADMIN')">
            <input name="consulta" />
            <button type="submit" >Buscar</button>
        </form>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Mail</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                    <th>N Reportes</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(usuarios)}">
                    <td colspan="6">No se encontraron usuarios.</td>
                </tr>
                <tr th:each="usuario: ${usuarios}">
                    <td>
                        <div class="contenedor-imagen-usuario">
                            <img th:src="@{/imagen/perfil/__${usuario.id}__}" alt="perfil" class="imagen-usuario"
                                onerror="this.src='/img/sinfoto.jpg';">
                            <p th:text="${usuario.nombreUsuario}" class="nombreUsuario"></p>
                        </div>
                    </td>
                    <td th:text="${usuario.email}" class="descripcion"></td>
                    <td>
                        <form action="/admin/modificarRol/{__${usuario.id}__}" method="post"
                            sec:authorize="hasRole('ADMIN')">
                            <input type="hidden" name="id" th:value="${usuario.id}" />
                            <select name="rol">
                                <option th:value="${usuario.rol}" th:text="${usuario.rol}"></option>
                                <option th:value="ADMIN">ADMIN</option>
                                <option th:value="DISENADOR">DISEÑADOR</option>
                                <option th:value="USER">USER</option>
                            </select>
                            <button type="submit" style="background-color: #820000; color: #ffffff;
                                border: none; padding: 2.5px 5px; border-radius: 3px;">Cambiar ROL</button>
                        </form>
                    </td>
                    <td>
                        <form action="/admin/borrar/{__${usuario.id}__}" method="post" sec:authorize="hasRole('ADMIN')">
                            <input type="hidden" name="id" th:value="${usuario.id}" />
                            <button type="submit" style="background-color: #820000; color: #ffffff;
                                border: none; padding: 2.5px 5px; border-radius: 3px;">Eliminar</button>
                        </form>
                    </td>
                    <td th:text="${#lists.size(usuario.reportes)}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>