<section class="max-height vistas">
    <div class="contenedor">
        <form action="/reporte/buscar" method="post" sec:authorize="hasRole('ADMIN')" class="buscador">
            <input name="consulta" />
            <button type="submit">Buscar</button>
        </form>
        <table id="emp-table" class="tabla">
            <thead>

                <th col-index=1>Categoria
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
                <th col-index=2>Contenido</th>
                <th col-index=3>Estado
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
                <th col-index=4>Emisor
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
                <th col-index=5>Tipo
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
                <th col_index=6>Accion</th>
            </thead>
            <tbody>
                <tr th:if="${reportes.isEmpty()}">
                    <td colspan="8">No se encontraron reportes</td>
                </tr>
                <tr th:each="reporte: ${reportes}">
                    <td th:text="${reporte.categoria}"></td>
                    <td th:text="${reporte.contenido}"></td>
                    <td th:text="${reporte.estado}"></td>
                    <td th:text="${reporte.emisor.nombreUsuario}"></td>
                    <td th:text="${reporte.tipo}"></td>
                    <td th:if="${reporte.tipo == 'Comentario'}">
                        <a th:href="@{/reporte/comentario/{id}(id=${reporte.id})}">
                            <button type="button">Comentario</button></a>
                    </td>
                    <td th:if="${reporte.tipo == 'Publicacion'}">
                        <a th:href="@{/reporte/publicacion/{id}(id=${reporte.id})}">
                            <button type="button">Publicacion</button></a>
                    </td>
                    <td th:if="${reporte.tipo == 'Usuario'}">
                        <a th:href="@{/reporte/usuario/{id}(id=${reporte.id})}">
                            <button type="button">Usuario</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>