<section class="section">

    <div th:each="publicacion: ${publicaciones}" class="tarjeta">

        <div class="contenedor-imagen-usuario">
            <img th:src="@{/imagen/perfil/__${publicacion.usuario.id}__}" alt="perfil" class="imagen-usuario">
            <span th:text="${publicacion.usuario.nombreUsuario}" class="nombreUsuario"></span>
        </div>

        <div class="contenedor-imagen">
            <div th:each="foto, iterStat : ${publicacion.fotos}">
                <div>
                    <img th:src="@{/imagen/__${foto.id}__}" class="imagen" alt="..." loading="lazy">
                </div>
            </div>
        </div>

        <div class="contenedor-texto">
            <a th:if="${session.usuariosession != null}" id="texto-categoria" th:text="${publicacion.categoria}"
                href="/"></a>
            <span th:if="${session.usuariosession == null}" th:text="${publicacion.categoria}"></span>
            <p th:text="${publicacion.descripcion}" class="descripcion"></p>
            <form action="/publicacion/borrar/{__${publicacion.id}__}" method="post" sec:authorize="hasRole('ADMIN')">
                <input type="hidden" name="id" th:value="${publicacion.id}" />
                <button type="submit">Eliminar</button>
            </form>
            <form action="/publicacion/comentar" th:if="${session.usuariosession != null}" method="post">
                <input type="hidden" name="id" th:value="${publicacion.id}" />
                <input name="contenido" />
                <button type="submit" style="background-color: #800000; color: #ffffff;
                border: none; padding: 5px 10px; border-radius: 3px;">Comentar</button>
            </form>
        </div>
    </div>
</section>