<section class="vista vista-logueado">
    <div class="container text-center">
        <div th:each="publicacion: ${publicaciones1}">
            <div class="card border-info" style="width: 28rem;">
                <div th:each="imagen: ${publicacion.fotos}">
                    <img th:src="@{/imagen/__${imagen.id}__}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <a href="https://chat.openai.com/">
                        <h5 th:text="${publicacion.categoria}" class="card-title"></h5>
                    </a>
                    <p th:text="${publicacion.descripcion}" class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</section>
