@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
@import "navbar.css";
@import "tarjetas.css";
@import "login.css";
@import "errores.css";
@import "hero.css";

* {
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #FFFFFF;
    color: #800000;
}

header {
    width: 15%;
    background-color: #FFD3E0;
    color: #800000;
}

main {
    width: 85%;
    padding-top: 30px;
}

ul,
li {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}