@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
@import "navbar.css";
@import "tarjetas.css";
@import "errores.css";
@import "hero.css";
@import "formularios.css";
@import "lista.css";
@import "error-page.css";
@import "reporte.css";
@import "buscador.css";

* {
    font-family: 'Raleway', sans-serif;   
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #e7e7e7;
    color: #800000;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;    
}

header {
    width: 15%;
    background-color: #FFD3E0;
    color: #800000;
}

main {
    width: 65%;
    min-height: 100%;
    position: absolute;
    left: 20%;
    z-index: 0;
}

ul,
li {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
}

.pad-top{
    padding-top: 30px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}

.vistas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.max-height{
    min-height: 100%;
}

/* --- MAIN-LINKS --- */
.main-link {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

.main-link {
    --border-right: 6px;
    --text-stroke-color: rgba(0, 0, 0, 0.6);
    --animation-color: #820000;
    --fs-size: 1em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    /* font-family: "Arial"; */
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.main-link .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.main-link:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}


