@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
@import "navbar.css";
@import "tarjetas.css";
@import "errores.css";
@import "hero.css";
@import "formularios.css";
@import "lista.css";
@import "error-page.css";
@import "reporte.css";
@import "buscador.css";

* {
    font-family: 'Raleway', sans-serif;
    --color-primario: #820000;
    --color-secundario: rgb(223, 0, 0);
    --color-terciario: rgba(255, 51, 0, 1);
    --color-cuater: rgba(255, 119, 0, 1);
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #f1f1f1;
    color: #800000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

header {
    width: 15%;
    background-color: #FFD3E0;
    color: #800000;
}

main {
    width: 65%;
    min-height: 100vh;
    position: absolute;
    left: 20%;
    z-index: 0;
}

ul,
li {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}


.pad-top {
    padding-top: 30px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    gap: 30px;
}

.vistas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.max-height {
    min-height: 100%;
}

/* --- MAIN-LINKS --- */
.main-link {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

.main-link {
    --border-right: 6px;
    --text-stroke-color: rgba(0, 0, 0, 0.6);
    --animation-color: #820000;
    --fs-size: 1em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.main-link .dropdown-toggle {
    padding: 0;
    margin: 0;
    display: flex;
    width: 90%;
}

.main-link .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: rgb(223, 0, 0);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px rgb(223, 0, 0);
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.main-link:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}


/* ----- General BS------ */
.dropdown-menu {
    box-shadow: 1px 0px 15px 0px #0000005e;
    background-color: transparent;
    backdrop-filter: blur(30px);
}

.dropdown-menu .dropdown-item {
    transition: all 0.3s ease-in-out;
    background: none;
    background-color: transparent;
}

.dropdown-menu .dropdown-item:hover {
    font-size: larger;
    color: white;
    background: linear-gradient(90deg, rgba(255, 51, 0, 1) 52%, rgba(255, 119, 0, 1) 81%);
    z-index: -1;
}


/* ---- RS ---- */
.recomendacion {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.1s ease;
    font-size: 16px;
}

.rs {
    color: #939393;
}

.recomendacion:hover {
    color: orangered;
}

.rs:hover {
    color: #820000
}