.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 15vw;
    background-color: white;
    padding: 35px 5px;
    position: fixed;
    align-items: center;
    right: 0;
    box-shadow: -1px 0px 15px 0px #0000005e;
    gap: 20px;
}

.hero img {
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.222);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.22);
    transition: all ease .3s;
}

.hero img:hover {
    box-shadow: 0px 0px 20px 1px #0000003f;
    border: 1px solid rgba(0, 0, 0, 0.454);
}

.hero h1,h2,h3,h4,h5,h6,p{
    text-align: center;
    color: rgb(133, 130, 130);    
}

.hero h3{
    font-size: large;
}

.hero h5{
    color: white;
    background-color: var(--color-terciario);
    padding: 8px;
    border-radius: 10px;
}

.hero h6 {
    text-wrap: wrap;
}


