.navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: white;
    position: fixed;
    left: 0;
    z-index: 1;
    box-shadow: 1px 0px 15px 0px #0000005e;
}

.nav-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* --- LOGO --- */
.navbar .logo {
    width: 15vw;
}

.nav-logo-link {
    display: inline-block;
    text-align: center;
    margin: 30px 0;
    transition: 0.3s;
    filter: drop-shadow(5px 5px 1px #8200003b);
}

.nav-logo-link:hover {
    transform: scale(1.01);
    filter: drop-shadow(0px 0px 3px #82000067);
}

/* --- NAV --- */
.nav-ul-container{
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 0.3s;
}

.navbar .item {
    margin: 17px 0;
    height: 20px;
    width: 100%;
}

.navbar .user-categorias{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* .navbar .user-categorias:hover,
.navbar .nav-ul:hover{
    gap:50px !important;
} */