<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="/fragments/head :: head"></head>

<body class="index-body flex-col-center">
    <header>
        <nav th:replace="/fragments/navbar :: nav"></nav>
    </header>
    <section th:if="${session.usuariosession != null}" th:replace="/fragments/hero :: section"></section>
    <main class="index-main">
        <section class="contenedorError">
            <a class="error-codigo" th:text="'Error ' + ${codigo}"></a>
            <p class="error-mensaje" th:text="${mensaje}"></p>
        </section>
    </main>

    <script th:replace="/fragments/scripts :: script"></script>
</body>

</html>