<!DOCTYPE html>
<html lang="es">
    <head th:replace="/fragments/head :: head"></head>

    <body>
        <header>
            <nav th:replace="/fragments/navbar :: nav"></nav>
        </header>

        <section th:replace="/fragments/errores :: section"></section>

        <div class="container text-center">
            <div class="container">
                <h1>Registrate</h1>
            </div>

            <form
                th:action="@{/registro}"
                method="POST"
                enctype="multipart/form-data"
                >
                <div class="d-flex justify-content-center gap-4">
                    <div class="mb-3 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="floatingName"
                            placeholder="Nombre"
                            name="nombre"
                            th:value="${nombre}"
                            required
                            />
                        <label for="floatingName">Nombre</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="floatingApellido"
                            placeholder="Apellido"
                            name="apellido"
                            th:value="${apellido}"
                            required
                            />
                        <label for="floatingApellido">Apellido</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input
                            type="email"
                            class="form-control"
                            id="floatingEmail"
                            placeholder="Email"
                            name="email"
                            th:value="${email}"
                            required
                            />
                        <label for="floatingEmail">Email</label>
                    </div>
                </div>
                <div class="mb-3 form-floating">
                    <input
                        type="text"
                        class="form-control"
                        id="floatingNameUser"
                        placeholder="Nombre de usuario"
                        name="nombreUsuario"
                        th:value="${nombreUsuario}"
                        required
                        />
                    <label for="floatingNameUser">Nombre de usuario</label>
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Imagen de perfil</label>
                    <input class="form-control" type="file" name="archivo" id="formFile" />
                </div>

                <div class="d-flex justify-content-center gap-4">
                    <div class="mb-3 form-floating">
                        <input
                            type="password"
                            class="form-control"
                            id="floatingPassword"
                            placeholder="Contraseña"
                            name="password"
                            required
                            />
                        <label for="floatingPassword">Contraseña</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input
                            type="password"
                            class="form-control"
                            id="floatingPassword2"
                            placeholder="Repita la contraseña"
                            name="password2"
                            required
                            />
                        <label for="floatingPassword2">Repita la contraseña</label>
                    </div>
                </div>
                
                <div class="d-flex justify-content-center gap-4">
                    <div class="mb-3 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="floatingPregunta"
                            placeholder="Pregunta de seguridad"
                            name="pregunta"
                            required
                            />
                        <label for="floatingPregunta">Pregunta de seguridad</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="floatingRespuesta"
                            placeholder="Respuesta"
                            name="respuesta"
                            required
                            />
                        <label for="floatingRespuesta">Respuesta</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
        </div>

        <script th:replace="/fragments/scripts :: script"></script>
    </body>
</html>
