<!DOCTYPE html>
<html lang="en">

    <head th:replace="/fragments/head :: head"></head>

    <body class="inicio-body flex-col-center">
        <header>
            <nav th:replace="/fragments/navbar :: nav"></nav>
        </header>
        <section th:replace="/fragments/errores :: section"></section>
        <section th:replace="/fragments/hero :: section"></section>
        <main class="vistas">
            <div class="reporte-contenedor">
                <h1>Reporta un comentario</h1>
                <div class="reporte-info">
                    <div class="cabecera">
                        <img th:src="@{/imagen/perfil/__${comentario.usuario.id}__}" 
                             alt="..." loading="lazy">
                        <h3 th:text="${comentario.usuario.nombreUsuario}"></h3>
                    </div>
                    <div class="comentario">
                        <h5  th:text="${comentario.contenido}"></h5>
                        <p  th:text="${comentario.fechaComentario}"></p>                        
                    </div>
                </div>

            </div>
            <div class="formulario-container">
                <form class="form" th:action="@{/publicacion/guardarReporte}" method="POST">
                    <input  type="text" hidden name="idReportado" th:value="${id}">
                    <input  type="text" hidden name="tipo" th:value="Comentario">
                    <label>
                        <input type="text" class="input" name="contenido" required />
                        <span>Descripcion</span>
                    </label>
                    <select name="categoria" class="input" required>
                        <option th:value="Lenguaje_Ofensivo">Lenguaje Ofensivo</option>
                        <option th:value="Contenido_Inapropiado">Contenido Inapropiado</option>
                        <option th:value="COPYRIGHT">COPYRIGHT</option>
                        <option th:value="OTRO">OTRO</option>
                    </select>
                    <button type="submit" class="submit">Enviar</button>
                </form>
            </div>
        </main>
        <script th:replace="/fragments/scripts :: script"></script>
    </body>

</html>